<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.since1985i.jpskb"
      android:versionCode="1"
      android:versionName="1.0">
    <uses-sdk android:minSdkVersion="3" />

    <application android:icon="@drawable/icon" android:label="@string/app_name">
        <activity android:name=".MainWindow"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
		<activity android:name=".ActivityStopQuery"
                  android:label="@string/bar_stop">
        </activity>
        <activity android:name=".ActivityTrainQuery"
                  android:label="@string/bar_train">
        </activity>
        <activity android:name=".ActivityUpdate"
                  android:label="@string/bar_update">
        </activity>
        <activity android:name=".ActivityAbout"
                  android:label="@string/bar_about">
        </activity>
    </application>
</manifest>